<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Day</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%= titleName %></h1>
    </div>
    <div class="box">
        <%for(var i=0;i<newItemsList.length;i++){%>
             <div class="item">
                 <input type="checkbox">
                 <p><%= newItemsList[i] %></p>
             </div>
        <%}%>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="Item Name" autocomplete="off">
            <button type="submit" name="list" value=<%= titleName %>>+</button>
        </form>
    </div>

</body>
</html>